body {
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.header-section {
  height: 375px;
  background: #6943ff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}
h1 {
  margin: 40px auto 40px;
  color: #fff;
}
input {
  border: 2px solid #b295ff;
  border-radius: 5px;
  background: inherit;
  text-align: center;
  margin: 0 auto 28px;
  height: 120px;
  width: 180px;
  font-size: 65px;
  color: #fff;
}

button {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: #3d3d3d;
  font-size: 18px;
  margin: 0 auto;
  width: 185px;
  padding: 10px 20px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  background: #1f2937;
  height: 562px;
}

.bottom-container {
  border: none;
  border-radius: 5px;
  background: #273549;
  margin: 40px auto;
  width: 85%;
  height: 95px;
}

h3 {
  color: #ccc1ff;
}
p {
  color: #fff;
  padding-bottom: 10px;
}
